.btn-grey, label.active {
    background: #DCDCDC !important;
    color: #211f1c !important;
    outline: none;
}

.btn-grey:hover {
    background: #A9A9A9 !important;
    color: black !important;
}

.btn-grey-disabled {
    background: #DCDCDC !important;
    color: #A9A9A9 !important;
    outline: none;
}

.grey:hover {
    color: #DCDCDC !important;
}

a:hover {
    color: #DCDCDC !important;
}


.dark-grey:hover {
    color: #5c5a58 !important;
}

.dark-grey {
    color: #211f1c !important;
}

.border-grey {
    border-color: #211f1c !important;
    box-shadow: black;
}

/*размер шрифта в зависимости от размера экрана устройства*/
body {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }

}

@media (min-width: 992px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 22px;
    }
}

.menu-font {
    font-size: 1.5vw;
!important;
}

.underlined h4:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background: #211f1c;
    top: -20%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.underlined h4:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background: #211f1c;
    top: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}
