{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center">
                <h2 class="mt-4 mb-4">{{ title }}</h2>

                {% for article in category_articles %}

                    <div class="row main p-3 border border-grey mt-1 mb-1">
                        <div class="col-4">

                            <div class="text-left">
                                <div class="col-12 row border">
                                    <p>Добавлена: {{ article.registration_time | date }}</p>
                                </div>
                                <div class="col-12 row border">
                                    <p>Автор: <strong>{{ article.user }}</strong></p>
                                </div>
                            </div>

                        </div>
                        <div class="col-8 mt-3 underlined">
                            <h4>{{ article.title }}</h4>
                        </div>

                        <div class="col-12 mt-5 text-left">
                            {{ article.body |truncatechars:350 }}
                        </div>
                        <div class="col-12 text-right">
                            <a class="btn btn-sm btn-outline-dark rounded-3 btn-grey" href="{% url 'articles:article_read' article.slug %}">Читать статью</a>
                        </div>
                    </div>

                {% empty %}
                    <div class="row main p-3 border border-grey mt-1 mb-1">
                        <div class="col-12 text-center">
                            К сожалению, в данной категории пока нет статей
                        </div>
                    </div>

                {% endfor %}

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                            <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3
                            {% if page_obj.has_previous %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"
                            href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }}
                            {% else %} # {% endif %}"
                            tabindex="-1" aria-disabled="true"><i class="fas fa-backward"></i></a>
                        </li>
                        {% for page in page_obj.paginator.page_range %}
                            <li class="page-item">
                                <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3 btn-grey dark-grey"
                                href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                            <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3
                            {% if page_obj.has_next %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"
                               href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}
                               {% else %} # {% endif %}"><i class="fas fa-forward"></i></a>
                        </li>
                    </ul>
                </nav>

            </div>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}
